{% extends "dashboard/base.html" %}

{% block title %} {{ super() }} | Analytics{% endblock %}

{% block dashboard_sidebar %}{{ nav.sidebar("analytics") }}{% endblock %}

{% block dashboard_content %}
  <div id="pad-wrapper" class="form-page">
    <div class="form-wrapper">
      <div class="row head">
        <div class="col-md-12">
          <h4>Analytics</h4>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="field-box">
            <label for="merchant">Merchant</label>

            <div class="col-md-7">
              <select name="merchant">
                <option value="all" selected="selected">All</option>
                {% for m in merchants %}
                  <option value="{{ m.id }}">{{ m.username }}</option>
                {% endfor %}
              </select>
            </div>
          </div>

          <div class="field-box">
            <label for="beacon">Beacon</label>
            <div class="col-md-7">
              <select name="beacon">
                <option value="all" selected="selected">All</option>
                {% for b in beacons %}
                  <option value="{{ b.id }}">{{ b.alias or b.id }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="field-box">
            <label for="filter">Filter</label>
            <div class="col-md-7">
              <select name="time">
                <option value="week" selected="selected">Last 7 days</option>
                <option value="month">Last 30 days</option>
                <option value="year">Last year</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row section">
      <div class="col-md-12">
        <h4 class="title">Beacons Interactions: {{ beacons|length }}</h4>
      </div>

      <div id="gender-split" class="col-md-4 chart">
        <h5>Gender split</h5>
        <div class="chart-container"></div>
      </div>

      <div id="age-split-male" class="col-md-4 chart">
        <h5>Age split (male)</h5>
        <div class="chart-container"></div>
      </div>

      <div id="age-split-female" class="col-md-4 chart">
        <h5>Age split (female)</h5>
        <div class="chart-container"></div>
      </div>
    </div>

    <div class="row section">
      <div id="interactions" class="col-md-12 chart">
        <div class="chart-container"></div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    {% if stats %}
      var initStats = {{ stats|tojson }};
    {% endif %}
  </script>
  <script src="{{ url_for("static", filename="js/analytics.js") }}"></script>
{% endblock %}
